<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title><%-title %></title>
  <link rel="stylesheet" href="/css/style.css">
  <script src="/js/require.js" data-main="js/init"></script>
</head>
<body>
<!--  <section data-bind="template: header">
    
  </section>-->
